@font-face {
  font-family: loginFont;
  src: url(JennaSue.ttf);
}

@font-face {
  font-family: formFont;
  src: url(CaviarDreams.ttf)
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar{
  margin: 0;
  padding: 0;
  background: #e3e0cf;
  display: flex;
}

.poweredBy {
  margin: 50px 0 0 30px;
  padding: 10px 0 20px 0;
  font-weight: bold;
}

#lunaPortal {
  font-family: loginFont;
  font-weight: normal;
  font-size: 2em;
}

#logo {
  height: 10vh;
  margin: 1em 0 1em 2em;
}

#logo:hover {
  cursor: pointer;
}

.inputField {
  float: right;
  margin: 6vh 2em 0 0;

}

.loginTitle {
  text-align: center;

}

.login{
  display: inline;
  margin-right: 2em;

}
.createAccount {
  float: right;
  margin: 12vh -10.5em 0 0;
}

/*.username {
  height: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}

.password {
  margin-left: 2em;
  height: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}*/

.background {
  width: 100vw;
  height: 85vh;
}

.registrationForm {
  border-radius: 5px;
  background-color: #c5d5cb;
  padding: 20px;
  width: 40%;
  margin: 5em auto;
  text-align: left;
}

.registration {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  width: 100%;
  background-color: #9fa8a3;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: loginFont;
  font-size: 2em;
}

.submitButton:hover {
  background-color: #B8C4BB;
}

.submitButton:focus {
  outline: none;
}

.toggleButton:hover {
  background-color: #B8C4BB;
}
.toggleButton:focus {
  outline: none;
}

  .toggleButton {
    width: 20%;
    background-color: #435360;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }


.welcomeTitle {
  text-align: center;
  font-family: loginFont;
  font-size: 5em;
  font-weight: normal;
}

#login {
  font-family: loginFont;
  font-size: 5em;
  font-weight: normal;
}

.formFont {
  font-family: formFont;
  font-size: 1.2em;
}

.adminPage {
  display: inline-block;
}

.adminIcon {
  height: 12vh;
  /*width: 8vw;*/
}

.adminIcon:active {
  transform: translateY(3px);
}

.gridContainer {
  text-align: center;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: space-around;
}

.gridItem:hover {
  cursor: pointer;
}

.gridItem {
  padding: 2vh 0;
  margin-top: 10%;
  margin-top: -25%;
  margin-bottom: 2vh;

}

.dashboard {
  background-color: #c5d5cb;
  margin: -0 5% 0 5%;
  border-radius: 20px;

}
.welcomeTitleDashboard {
  margin-top: 1%;
  text-align: center;
  font-family: loginFont;
  font-size: 5em;
  font-weight: normal;
  background-color: #9fa8a3;
  padding: 2% 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.gridResources {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
}

.patientList {
  /*text-align: center;*/
  padding-top: 2%;
  margin: 0 auto;
  list-style: none;
  height: 80vh;
  width: 40vw;
  border-style: solid;
  border-width: 30px;
  border-color: #c5d5cb;
  border-radius: 5%;
}

li {
  padding: 1% 0;
}

.individualPatient:link, .individualPatient:visited, .individualPatient:active {
  text-decoration: none;
  font-family: formFont;
  color: black;
}
.individualPatient:hover {
  color: #9fa8a3;
}

.singlePatientView {
  margin-left: 2%;
  font-family: formFont;
  display: grid;
  grid-template-columns: 50% 50%;
}

.treatmentGridItem {
  background-color: #e3e0cf;
  margin: 2% 5% 5% 5%;
  border-radius: 10px;
  height: 550px;
  overflow: scroll;
  border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
}

.noteListAdmin {
  margin-top: -1%;
  list-style: none;
  height: 100px;
  overflow: scroll;
  border-bottom: solid 1px;
  margin-right: 5%;
  padding-top: 4%;
}

.noteList {
  height: 80%;
  overflow: scroll;
  list-style: none;
}

.noteInput {
  width: 80%;
  height: 20%;
  margin: 2px 10%;
}

#noteSubmitButton {
  width: 25%;
  background-color: #9fa8a3;
  color: white;
  padding: 5px;
  margin: 0 5%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: loginFont;
  font-size: 1.5em;
  display: block;
  float: right;
}

#addNote {
  margin-left: 5%;
}


.resourceList {
  list-style: none;
  font-family: formFont;
  font-size: 1.5em;
}

.resourceList:hover {
  color: #9fa8a3;
  cursor: pointer;
}



.embeded {
    text-align: center;
}

/*.clickedOn, .clickedOn:acitve, .clickedOn:link, .clickedOn:visited, .clickedOn:focus {
  color: #E85A4F !important;
  text-decoration: none !important;
}*/

a:active, a:link, a:visited {
  color: #E85A4F !important;
  text-decoration: none !important;
  font-family: formFont;
}

.resourceStyle{
  font-family: formFont;
  /*text-align: center;*/
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  margin: 0 20%;
  margin-top: -5%;


}

.resourcePage {
  margin: 10px 5%;
  background-color: #c5d5cb;
  overflow: auto;
  border-radius: 10px;
}

.dashboardDiagnosis {
  background-color: #c5d5cb;
  margin: 2% 5% 0 5%;
  border-radius: 10px;
  padding: 1px 0;
}

.diagnosisGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.diagnosisTreatment {
  background-color: #e3e0cf;
  margin: 2% 5% 5% 5%;
  border-radius: 10px;
  height: 350px;
  overflow: scroll;
  border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;

}

p {
  font-family: formFont;
}

hr {
  margin: 1% 5%;
  border-color: #9fa8a3;
}

.diagnosisHeading {
  text-align: center;
  font-family: formFont;
  font-size: 1.6em;
  margin-bottom: 0;

}
.diagnosisP {
  text-align: center;
  padding: 0 4%;
}

.noteList {
  margin-left: 5%;
  font-family: formFont;
  overflow: scroll;
}

.addResourceForm {
  border-radius: 5px;
  background-color: #c5d5cb;
  padding: 20px;
  width: 40%;
  text-align: left;
}

.addResourceButton {
  width: 100%;
  background-color: #9fa8a3;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: loginFont;
  font-size: 2em;
}

.toggleAddResourceButton {
  width: 20%;
  background-color: #9fa8a3;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: loginFont;
  font-size: 2em;
}

.resourceListFiltered {

}

.pinIcon {
  height: 6vh;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  /*border-style: solid;*/
  border-radius: 50%;
  border-width: 1px;

}

.pinIcon:active {
  /*background-color: #9fa8a3;*/
  transform: translateY(5px) translateX(-5px);
}

.pinIcon:hover {
  cursor: pointer;
}

.tooltip {
  height: 3vh;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  padding: 2px 2px;
  /*position: absolute;
  z-index: 1;*/
  /*float: right;*/
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  float: right;
  background-color: #9fa8a3;
}

.pinnedResources {
  height: 800px;
  width: 50%;
  overflow: scroll;
  margin: 15px auto;
  background-color: #c5d5cb;
  border-radius: 5px;
  border-style: solid;
  border-width: 50px;
  border-color: #9fa8a3;
  padding: 1%;
}

.pinResource {
  float: left;
  display: inline-block;
  height: 20px;
  padding-top: 10px;
}

.welcomePinBoard {
  text-align: center;
  font-family: loginFont;
  font-size: 5em;
  font-weight: normal;
  margin: 10px 0 20px 0;
  padding-bottom: 0px;
}
